<div class="container">
  <mat-card
    ><mat-form-field>
      <mat-label>בחר ישוב</mat-label>
      <mat-select [(ngModel)]="selectedYeshuv">
        <mat-option *ngFor="let yeshuv of yeshuvim" [value]="yeshuv.code">
          {{ yeshuv.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>בחר מרחב</mat-label>
      <mat-select
        [(ngModel)]="selectedMerchav"
        (ngModelChange)="onMercahvChange()"
      >
        <mat-option *ngFor="let merchav of merchavim" [value]="merchav.code">
          {{ merchav.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>בחר אזור</mat-label>
      <mat-select [(ngModel)]="selectedEzur">
        <mat-option *ngFor="let ezur of ezurim" [value]="ezur.code">
          {{ ezur.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!selectedEzur || !selectedMerchav || !selectedYeshuv"
      (click)="searchPeoples()"
    >
      הצג תושבים
    </button>
  </mat-card>
</div>

<peoples *ngIf="peoples" [peoples]="peoples" (selectedPeopleEvent)="setSelectedPeople($event)"></peoples>
<div *ngIf="selectedPeople">
  <h3>ילדים של {{selectedPeople.firstName}} {{selectedPeople.lastName}}</h3>
  <peoples [peoples]="selectedPeople.children"></peoples>
</div>

